service:
  enabled: true
  type: ClusterIP
  port: 8080
  listenPort: 8080

metrics:
  enabled: true
  release: kps #we should know this for service monitoring discovery

persistence:
  enabled: true
  size: 256M
  storageClass: "" #"local-path"
  accessMode: ReadWriteOnce

ingress:
  enabled: true
  className: traefik
  #host: todo-backend.zone.internal
  # serviceName: py-backend
  tls:
  - secretName: todo-backend-tls
    hosts:
    - todo-backend.todo.svc.cluster.local
  annotations:
    kubernetes.io/ingress.className: traefik
    cert-manager.io/cluster-issuer: local-ca
    external-dns.alpha.kubernetes.io/hostname: todo-backend.zone.internal
    traefik.ingress.kubernetes.io/router.entrypoints: "websecure"

image:
  repository: foxmuldercp/go-todo-backend
  tag: 5efdb11 #latest
resources:
  requests:
    cpu: 50m
    memory: 32Mi
  limits:
    cpu: 100m
    memory: 64Mi
